
.body {
  font-family: 'Trebuchet MS';
  background-image: url("/table.png");
  background-size: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  height: 544px;
  padding-top: 10px;
}
  
.title {
  color: goldenrod;
}

.message_el {
  font-style: italic;
}

.button {
  color: #1a5833;
  height: 35px;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 30px;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardBack{
  height:113px;
  width: 70px;
}
.cardimg{
  height:113px;
  width: 70px;
  margin-right: 5px;
  
  

}
.card{
  margin-left: 10;
  display: flex;
 
  
}

.dcardholder{
  display: flex;
  justify-content: left;

  margin-top: 0px;
  font-size: 15px;
  
}

.logo{
  height: 150px;
  width: 370px;
  margin:0px 20px;
}
.chip{
  height: 60px;
  width: 60px;
}
.game{
  display: flex;
  justify-content: center;

}
.time{
  height: 70px;
  width: 120px;
  margin: 50px 70px 0px 70px;
  background-color:#d5160d;
  padding-top: 10px;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 16px;

}
.dealer{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align:left;
  font-size: 16px;
}
.player{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align:left;
  font-size: 16px;
}
